@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hahmlet&display=swap");
/* font-family: 'Hahmlet', serif; */
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
/* font-family: 'Gowun Batang', serif; */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");
/* font-family: 'IBM Plex Sans KR', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap");
/* font-family: 'Sunflower', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Stylish&family=Sunflower:wght@500&display=swap");
/* font-family: 'Stylish', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");
/* font-family: 'Orbit', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Orbit&display=swap");
/* font-family: 'Gugi', cursive; */


.t1{
    display: flex;
    align-items: center;
    justify-content: center;

    border-right: 2px solid #fff;
}

.t2{
    display: flex;
    align-items: center;
    justify-content: center;
}


.t1 h1{
    font-size: 20px;
    color: #fff;
}

.t2 h1{
    font-size: 15px;
    color: #fff;
}

.ep1-1{
    height: 25vh;
}

.ep1-2{
    gap: 10px;
    font-size: 12.5vw;
    color: #fff;
}

.ep1-3{
    font-size: 1.5vw;
    color: rgb(241, 220, 191);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ep1-4{
    font-size: 13px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.ep2-1{
    font-size: 10.5vw;
    color: #fff;
}

.ep2 .flex-box{
    background-color: #D8293A;
}

.ep2-2{
    
}







/* //////////////////////////////////////////////////////////////////////////////////////// */





.cont>ul{
    display: flex;
    /* 높이값을 보이는 화면기준 채우기 */
    height: 100vh;
}
/* 파티션 박스 li */
.cont>ul>li{
    position: relative;
    flex: 1;
    cursor: pointer;
    transition: all .4s ease-out;
}

.cont>ul>li::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;

    transition: all .4s ease-out;
}
.cont>ul>li:hover{
   flex: 1.4;

}
/* 가상요소 암전 밝아지기 */
.cont>ul>li:hover::before{
    opacity: 0.5;
}

.cont > ul > li:first-child {
    background: url(../images/hotel/hilton1.jpeg) no-repeat center/cover;
}
.cont > ul > li:nth-child(2) {
    background: url(../images/hotel/crockfords1.jpg) no-repeat center/cover;
}
.cont > ul > li:nth-child(3) {
    background: url(../images/hotel/conrad1.jpg) no-repeat center/cover;
}

.cont>ul>li>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(70%,500px);
    /* 부모박스의 70%적용시 최대 250px한계설정 */
}

.cont>ul>li>img:last-child{
    top: 60%;
    width: auto;
}