@charset "utf-8";

/* 리셋,공통 외부 CSS 합치기(merging) */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 공사중표시 */
body * {
    outline: 2px dashed blue;
}

#main{
    /* position: relative; */
}

.pg1>ul>li>a{
    display: flex;
    font-size: 14vw;
    justify-content: center;
    font-weight: bold;
    position: relative;
    transform: translateY(200%);
    color: #fff;
    line-height: 200px;
    gap: 10px;
}

.col-3{
    color: #fff;
    font-size: 2vw;
}


/* ep 페이지 하단 */
.footer{
    min-height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.ep2{
    background-color: #D8293A;
}

.pg2 h2{
    display: flex;
    font-size: 14vw;
    justify-content: center;
    font-weight: bold;
    position: relative;
    transform: translateY(200%);
    color: #fff;
    line-height: 100px;
    height: 100px;
}

.pg2 span{
    display: flex;
    font-size: 14vw;
    justify-content: center;
    font-weight: bold;
    position: relative;
    transform: translateY(200%);
    color: #fff;
    line-height: 100px;
    height: 200px;
}
