@charset "utf-8";

/* 리셋,공통 외부 CSS 합치기(merging) */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 공사중표시 */
body * {
    outline: 2px dashed blue;
}

.pg1{
    position: relative;
}

.pg1 h1{
    display: flex;
    font-size: 15vw;
    justify-content: center;
    padding-top: 30%;
}
