/* 미디워꿔리 */




@media screen and (max-width: 1700px) {

    .tbx {
        width: 55vw;
    }

    .plane {
        font-size: 28px;
        color: #fff;
        position: relative;
        left: 290px;
        bottom: 15px;
        cursor: pointer;
    }

    .user {
        font-size: 28px;
        color: #fff;
        position: relative;
        left: 210px;
        bottom: 13px;
        cursor: pointer;
    }

    .hotel {
        font-size: 28px;
        color: #fff;
        position: relative;
        bottom: 15px;
        cursor: pointer;
        left: 135px;
    }

    .at {
        position: relative;
        right: 30px;
    }

    .t2 h1 {
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }

    .t1 h1 {
        font-size: 20px;
    }

    .t1 img {
        width: 20px;
    }

    .br{
      border-right: none;
  }
  
  .tr{
    border-left: none;
  }
  
  .t1{
    border-right: none;
  }

}







@media screen and (max-width: 1200px) {
    .tbx {
        width: 50vw;
    }

    .plane {
      font-size: 24px;
        color: #fff;
        position: relative;
        left: 250px;
        bottom: 15px;
        cursor: pointer;
    }

    .user {
      font-size: 24px;
        color: #fff;
        position: relative;
        left: 185px;
        bottom: 13px;
        cursor: pointer;
        
    }

    .hotel {
        font-size: 24px;
        color: #fff;
        position: relative;
        left: 125px;
        bottom: 15px;
        cursor: pointer;
    }

  .at {
      position: relative;
      right: 10px;
      
  }

  .t2 h1 {
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
  }

  .t2 h1>a{
    padding-right: 20px;
  }

  .t1 h1 {
      font-size: 20px;
  }

  .t1 img {
      width: 20px;
  }

  
  .br{
    border-right: none;
}

.tr{
  border-left: none;
}




}










@media screen and (max-width: 1000px) {
    html,
    body,
    .wrap {
        overflow: visible;
    }
    body {
        overflow-x: hidden;
    }

    #main {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 500px) {
}
