@charset "utf-8";
/* 서브페이지 css */

/* 공통외부 CSS 합치기 */
@import url(./common.css);

/* 서브페이지 공통 글자설정 */

/* 서브타이틀 */
h2.stit {
    text-shadow: 2px 2px 2px #00000057;
    text-align: center;
    font-weight: normal;
    color: rgb(39, 57, 218);
    font-size: 24px;
    font-family: "Bagel Fat One", cursive;
    outline: 1px solid black;
    padding: 40px;
    border-radius: 10%;
    box-shadow: inset 0px 0px 6px 5px #000;
    margin-bottom: 30px;

    /* [box shadow속성] 
    박스 외부 / 내부 그림자 설정 속성
    값 :  y축 x축 blur spread 색
    text-shadow와 달리 spread 속성이 있음
    이것은 그림자를 커지게함
    -내부그림자 옵션 : inset
    -그림자 다중설정 : (,)콤마로 연속 사용가능
    */

    /* [outline의 요소]
    box모델의 필수속성은 아니지만
    박스의 외곽선을 표현햐주며
    박스자체에 크기에 영향을 주지않음
    -> outline: 두께 종류 색상 
    ->주로 사용되는 예는 input 입력창에서
    포커스가 갈경우 외곽선 표시가 됨*/

    /* 배경 넣기 한번에 */
    /* background: 색이반고윙.크;*/

    /* 배경 따로 쓰기
    background-image: url(../images/afig4.jpg);
    /* 반복여부 */
    /* background-repeat: no-repeat; */
    /* background-position: center ; */
    /* cover = 박스채우기 */
    /* background-size: cover; */
}

/* IT/과학 배경이미지 */
h2.st4 {
    background: url(../images/afig4.jpg) no-repeat center / cover;
}
/* TV/연예 배경이미지 */
/* .st5의 적용우선순위를 높이기 위해 부모요소를 써줌! #cont */
h2.st5 {
    background: url(../images/afig4.jpg) no-repeat center / cover;
}

/* 언론사 로고 */
.prlogo img {
    height: 32px;
}
/* 이미지는 기본 비율을 가지고 있어서 가로, 세로 중 한쪽만 크기를 
주면 나머지 방향은 자동으로 비율을 유지함 ~ 가로, 세로를 가주면 비율이 꺠짐 */

/* 기사타이틀 */
.atit {
    font-size: 32px;
}

/* 기사이미지 박스 */
.afig {
    margin-bottom: 40px;
}
.afig img {
    width: 100%;
}

/* 기사이미지 설명 */
.afig figcaption {
    font-size: 15px;
    text-align: center;
    color: #767676;
}

/* 기사 문단 */
.acont p{
    font-size: 17px;
    color: #303038;
    /* 자 간 : ls */
    letter-spacing: 2px;
    word-spacing: 1px;
    text-align: justify;
    line-height: 1.6; /* 문단 줄과 줄사이에 픽셀간격 숫자임 lh */
    /* 줄간격의 응용은 버튼 등 글자를 세로중앙에 오게할때 박스 높이값만큼 준다 */
}

/* 강조em요소 디자인 변경 */
.acont p em{
    /* 이탤릭 해제 */
    font-style: normal;
    /* 글자색 변경 */
    color: darkorange; 
    /* 글자 두껍게 */
    font-weight: bold;
    /* 글자 그림자 */
    text-shadow:2px 2px 2px #e9e90f;
}











.acont strong mark {
    display: block;
    background-color: aliceblue;
    text-align: center;
    margin: 15px auto;
    padding: 20px 50px;
    font-size: 30px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    color: chocolate;
    font-family: 'Hi Melody', cursive; 
    width:  60%;
}




/* 유튭 동영상 박스 */
.mvbx{

    height: 550px;

    /* div와 같은 block 요소는
    width 설정을 하지 않으면
    width:auto 로 자동설정댐
    이는 싸고있는 박스 컨텐츠 영역을 자동으로 채워준다! */

}
.mvbx iframe{
    border: none;
    width: 100%;
    height: 100%;
}

/* 인용블록영역 */
.bqbx{
    padding: 20px 0;
    margin: 20px 0 ;
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    font-size: 15px;
}

.bqbx blockquote{
    padding: 15px 0;
    line-height: 2;

}

/* 인용블록 이미지 */

.bqbx img{
    float: right;
    border-radius: 5px;
    margin-left: 20px;
}



/* article 제목공통 - atbx*/
.atbx h5{
    /* 배경색 */
    background-color: #ebebeb;
    /* 패딩 */
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #0000005e;
    font-size: 20px;
    color: #333;
    margin: 0;
}


/* 주해박스 */
.desc{
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    padding: 20px 0;
}

.desc div{
    padding: 15px 0;
}


/* 기사원문 */
.alink{
    text-align: right;
}
.alink a{
    
    width: 70px;
    height: 70px;
    border: 1px solid darkcyan;
    border-radius: 50%; /* 원형 */
    display: inline-block;
    /* 디자인 적용 위해 display 변경하기 */
    text-align: center;
    line-height: 70px;/* 줄간격으로 높이값과 같음 */

    /* a 요소 기본바꾸기 */
    color: #000;
    text-decoration: none;
    background-color: #f54e4e;


}


/* 마우스 오버시 변경 */
.alink a:hover{ 
    color: #000;
    background-color: #e9e90f;
    box-shadow: 0 0 8px 10px rgb(156, 167, 107);    
}

/* 오늘의 작품&느낌 */
.work{
    text-align: center;
    background-image: linear-gradient(300deg, yellow 10% , rgba(235, 17, 17, 0.678)  , pink );


    /* background-color: lightpink;
    /* 그라데이션 -> 이미지로  bgi */
    /* [선형 그라데이션 : linear gra]
       background-image: linear-gradient(); /* 방향, 색1, 색2 */
    /* background-image: linear-gradient(); /* 방향, 색1, 몇% 색2 몇% */
    /* background-image: linear-gradient(); 방향, 색1, 몇% 색2 몇% */
    /* -옵션 
    1.방향 :to top , to bottom, to left , to right
    2.각도 : 각도 deg
    3.콤마로 나열된 색상에 %를 뒤에 쓰면 비율 조정가능! */ 

    /* border: 50px dotted #ccc;
    padding: 50px; */
    background-clip: padding-box;
    box-shadow: inset 0 0 20px rgba(155, 29, 29, 0.753);

    /* 배경옵션추가 
    bacground-clip : 배경이 적용되는 범위 설정
    1. border-box : border 까지 적용 - 기본값 
    2. padding-box : 패딩까지 적용 
    3. content-box : 내용 영역만 적용(패딩,보더가 빠짐)
    */
} 

/* 작품 명 */
.work h3{
    font-family: 'Bagel Fat One', cursive;
    font-weight: normal;
    font-size: 46px;
    color: #333;
    padding-top: 20px;
}

/* 이미지 */
.work img{
    border: 15px ridge goldenrod; /* rodge == 액자틀 */
}

/* 작품몀*/
.work figcaption{
    font-family:  'Hi Melody', cursive;    
    font-size: 40px;
    padding: 30px;
    color: #000;
}

/* 작품명인용구 */
.work figcaption cite{
    font-style: normal;
    color: darkmagenta;
}








/* 뉴스파트 공통class */
.nbx{
    border-top: 2px dashed #ccc;
    margin: 20px 0;
    padding : 20px 0;

}

/* 뉴스파트공통 a요소 */
.nbx a{
    font-size: 17px;
    line-height: 2.5; /* 줄간격 */
    color: #222;
    text-decoration: none; /* 밑줄없앰 */

}

/* 공통  a마우스 오버*/
.nbx a:hover{
    color: blue;
    text-shadow: 1px 1px 1px #000;
}


/* 타이틀 공통  */
.nbx h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    background-image: linear-gradient(to right, yellow , transparent );
    padding: 10px;
}



/* 한줄말 줄임표시하기 (...) */
.nbx li, .nbx dd, .nbx td{
    
    white-space: nowrap;
    /* 넘치는 컨텐츠 숨기기 */
    overflow: hidden;
    /* 넘치는 금자 말줄임표시 */
    text-overflow: ellipsis;
    /* 
     추가) 여러줄일떄 말줄임은 아래 3가지 추가
     1. dispalt: -webkit-box;
     2. -webkit-line-clamp : 라인수;
     3.  -webkit-box-orient : vertical;

     단 박스 높이값을 글자가 보일만큼 조절함
     -> white-space : nowrap; 이 없음
    */


}



/* 주요뉴스 ul */
.cnews ul li::before{
    content: '💎';
}

/* 
[CSS 가상요소 : before , after] 
- 모든 요소는 맨 앞과 맨 뒤에 가상요소를 사용할 수 있다
- 맨 앞은 before, 맨 뒤는 after 
- 필수속성 : content 
- 이미지는 url()사용
*/

/* 주요 뉴스 li별 글자색 바꾸기 */
.cnews li:first-child a{
    color: red;
    
}
.cnews li:nth-child(2) a{                   /* 자식 요소 선택 가상클래스 */
    color: green;
}
.cnews li:last-child a{
    color: blue;
}




/* 분야뉴스 */
.snews dt{
    font-family: 'Bagel Fat One', cursive;
    font-size: 30px;
    padding: 5px;
    background-color: rgb(0, 255, 200);
    display: inline-block;
    border-radius: 40%;
    border: 4px dashed #000;
    margin: 40px 0px 20px;
    

}

/* dd앞에 가상요소로 불릿넣기 */
.snews dd::before{
    content: '👁‍🗨';
}

/* 분야별 뉴스 dt별 글자색, 배경색변경 */
.snews dt:first-of-type{
    color: red;
    background-color: orange;
}
.snews dt:nth-of-type(2){                        /* 여러종류가 섞여있을 경우 형제 선택하는법  */
    color: blue;
    background-color: pink
}

.snews dt:last-of-type{
    color: green;
    background-color: rgb(0, 255, 200);
}




/* [ 자식요소 선택 가상클래스 : 자식요소 종류가 같아야함! ]
    요소:first-child -> 첫번째 자식요소
    요소:nth-child(n) -> n번째 자식요소
    요소:last-child -> 마지막째 자식요소
[ 여러종류가 섞여 있을 경우 형제 선택하기 ]
    요소:first-of-type -> 같은 요소 중 첫번째
    요소:nth-of-type(n) -> 같은 요소 중 n번째
    요소:last-of-type -> 같은 요소 중 마지막째
 */











