@charset "utf-8";
/* 서브페이지 css */

/* 공통외부 CSS 합치기 */
@import url(./common.css);

/* 서브페이지 공통 글자설정 */

/* 서브타이틀 */
h2.stit {
    text-shadow: 2px 2px 2px #00000057;
    text-align: center;
    font-weight: normal;
    color: rgb(39, 57, 218);
    font-size: 24px;
    font-family: "Bagel Fat One", cursive;
    outline: 1px solid black;
    padding: 40px;
    border-radius: 10%;
    box-shadow: inset 0px 0px 6px 5px #000;
    margin-bottom: 30px;

    /* [box shadow속성] 
    박스 외부 / 내부 그림자 설정 속성
    값 :  y축 x축 blur spread 색
    text-shadow와 달리 spread 속성이 있음
    이것은 그림자를 커지게함
    -내부그림자 옵션 : inset
    -그림자 다중설정 : (,)콤마로 연속 사용가능
    */

    /* [outline의 요소]
    box모델의 필수속성은 아니지만
    박스의 외곽선을 표현햐주며
    박스자체에 크기에 영향을 주지않음
    -> outline: 두께 종류 색상 
    ->주로 사용되는 예는 input 입력창에서
    포커스가 갈경우 외곽선 표시가 됨*/

    /* 배경 넣기 한번에 */
    /* background: 색이반고윙.크;*/

    /* 배경 따로 쓰기
    background-image: url(../images/afig4.jpg);
    /* 반복여부 */
    /* background-repeat: no-repeat; */
    /* background-position: center ; */
    /* cover = 박스채우기 */
    /* background-size: cover; */
}

/* IT/과학 배경이미지 */
h2.st4 {
    background: url(../images/afig4.jpg) no-repeat center / cover;
}
/* TV/연예 배경이미지 */
/* .st5의 적용우선순위를 높이기 위해 부모요소를 써줌! #cont */
h2.st5 {
    background: url(../images/afig4.jpg) no-repeat center / cover;
}

/* 언론사 로고 */
.prlogo img {
    height: 32px;
}
/* 이미지는 기본 비율을 가지고 있어서 가로, 세로 중 한쪽만 크기를 
주면 나머지 방향은 자동으로 비율을 유지함 ~ 가로, 세로를 가주면 비율이 꺠짐 */

/* 기사타이틀 */
.atit {
    font-size: 32px;
}

/* 기사이미지 박스 */
.afig {
    margin-bottom: 40px;
}
.afig img {
    width: 100%;
}

/* 기사이미지 설명 */
.afig figcaption {
    font-size: 15px;
    text-align: center;
    color: #767676;
}

/* 기사 문단 */
.acont p{
    font-size: 17px;
    color: #303038;
    /* 자 간 : ls */
    letter-spacing: 2px;
    word-spacing: 1px;
    text-align: justify;
    line-height: 1.6; /* 문단 줄과 줄사이에 픽셀간격 숫자임 lh */
    /* 줄간격의 응용은 버튼 등 글자를 세로중앙에 오게할때 박스 높이값만큼 준다 */
}

/* 강조em요소 디자인 변경 */
.acont p em{
    /* 이탤릭 해제 */
    font-style: normal;
    /* 글자색 변경 */
    color: darkorange; 
    /* 글자 두껍게 */
    font-weight: bold;
    /* 글자 그림자 */
    text-shadow:2px 2px 2px #e9e90f;
}











.acont strong mark {
    display: block;
    background-color: aliceblue;
    text-align: center;
    margin: 15px auto;
    padding: 20px 50px;
    font-size: 30px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    color: chocolate;
    font-family: 'Hi Melody', cursive; 
    width:  60%;
}




/* 유튭 동영상 박스 */
.mvbx{

    height: 550px;

    /* div와 같은 block 요소는
    width 설정을 하지 않으면
    width:auto 로 자동설정댐
    이는 싸고있는 박스 컨텐츠 영역을 자동으로 채워준다! */

}
.mvbx iframe{
    border: none;
    width: 100%;
    height: 100%;
}

/* 인용블록영역 */
.bqbx{
    padding: 20px 0;
    margin: 20px 0 ;
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    font-size: 15px;
}

.bqbx blockquote{
    padding: 15px 0;
    line-height: 2;

}

/* 인용블록 이미지 */

.bqbx img{
    float: right;
    border-radius: 5px;
    margin-left: 20px;
}



/* article 제목공통 - atbx*/
.atbx h5{
    /* 배경색 */
    background-color: #ebebeb;
    /* 패딩 */
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #0000005e;
    font-size: 20px;
    color: #333;
    margin: 0;
}


/* 주해박스 */
.desc{
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    padding: 20px 0;
}

.desc div{
    padding: 15px 0;
}


/* 기사원문 */
.alink{
    text-align: right;
}
.alink a{
    
    width: 70px;
    height: 70px;
    border: 1px solid darkcyan;
    border-radius: 50%; /* 원형 */
    display: inline-block;
    /* 디자인 적용 위해 display 변경하기 */
    text-align: center;
    line-height: 70px;/* 줄간격으로 높이값과 같음 */

    /* a 요소 기본바꾸기 */
    color: #000;
    text-decoration: none;
    background-color: #f54e4e;


}


/* 마우스 오버시 변경 */
.alink a:hover{ 
    color: #000;
    background-color: #e9e90f;
    box-shadow: 0 0 8px 10px rgb(156, 167, 107);

    
}




